//MEDIA_QUERY
$media-mobile: 767px;
$media-tablet: 991px;
$media-tablet-large: 1199px;
$media-laptop: 1728px;

//COLORS
$color-brand-grey: #eeeeee;
$color-brand-dark: #424A52;
$color-brand-blue: #184188;
$color-brand-turquoise: #14B4C9;

$color-title-dark: #eeeeee;
$color-title-light: #eeeeee;
$color-text-dark: #eeeeee;
$color-text-light: #ffffff;
$color-border: #eeeeee;
$color-link: #f26f21;

//TEXT
@mixin textScale( $args... ) {
  $counter: 1;
  $breakpoints: $media-laptop, $media-tablet-large, $media-tablet, $media-mobile;

  @while($counter <= length($args)) {
    $arg: nth($args, $counter);
    $index: str-index($arg, '/');
    $fontSize: str-slice($arg, 0, $index - 1);
    $lineHeight: str-slice($arg, $index + 1);

    @if $counter == 1 {
      font-size: #{$fontSize}px;
      line-height: #{$lineHeight}px;
    } @else {
      @media (max-width: nth($breakpoints, $counter - 1)) {
        font-size: #{$fontSize}px;
        line-height: #{$lineHeight}px;
      }
    }

    $counter: $counter + 1;
  }
}
%text-title {@include textScale('32/48', '30/46', '26/40', '24/36', '20/30')}
%text-nav   {@include textScale('14/22', '14/22', '14/22', '14/22', '14/22')}
%text-ps    {@include textScale('12/14', '12/14', '12/14', '12/14', '12/14')}
%text-h1    {@include textScale('32/48', '30/46', '26/40', '24/36', '20/30')}
%text-h2    {@include textScale('28/42', '26/40', '24/36', '22/34', '18/28')}
%text-h3    {@include textScale('24/36', '22/34', '22/34', '22/34', '18/28')}
%text-h4    {@include textScale('20/30', '18/28', '18/28', '18/28', '16/24')}
%text-p1    {@include textScale('18/28', '18/28', '18/28', '16/24', '16/24')}
%text-p2    {@include textScale('16/24', '16/24', '16/24', '14/22', '14/22')}
%text-p3    {@include textScale('14/22', '14/22', '14/22', '14/22', '14/22')}
%text-p4    {@include textScale('12/18', '12/18', '12/18', '12/18', '12/18')}
